{{ if eq .chezmoi.os "linux" -}}
#!/bin/sh

sudo apt update -y
sudo apt install -y \
{{ range .packages.linux.apt -}}
{{ . | quote }} \
{{ end }}

curl -sS https://starship.rs/install.sh | sh -s -- --yes=1
curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh -s -- -y
cargo install bob-nvim --locked
bob use stable


{{ end }}
